@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC');
/* */
h1 {
  font-size: 64px;
  font-family: 'Playfair Display SC';
  text-align: center;
}
.App {
  padding: 1em;
}

label {
  display: inline-block;
  width: 100px;
}

header {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* typography */

html {
  font-family: 'helvetica neue', sans-serif;
}

thead th, tfoot th {
  font-family: 'Rock Salt';
}

th {
  letter-spacing: 2px;
  padding: 10px;
  border-color: #7400b8;
}

td {
  letter-spacing: 1px;
  overflow-x:hidden;
  overflow-y:hidden;
  font-size: 12px;
  padding: 10px;
  text-align: center;
  border-top: #7400b8;
}
span tr:nth-child(even) {

}
/* table */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  overflow:hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.274);
  border-color: #4ea8de;
}

.content_td p {
  max-width: 100%;
  max-height: 100px;
  overflow-y: auto;
  text-overflow: ellipsis;
}

/* Column Size for thead */
.content_td {
  width: 30%;
}
/* Column size for tbody */

/* psuedo classes */

a:hover { background: yellow; }  /* Hovered links */
a:active { color: red; }         /* Active links */
.btn {
  width: 10em;
  height: 5ex;
  background-image: linear-gradient(135deg, #4ea8de 40%, #7400b8);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.btn:active {
  box-shadow: 2px 2px 5px #fc894d;
}
img {
  object-fit: scale-down;
  width: 100%;
  height: 100%;
  box-shadow: 6px 6px 6px #4ea8de;
}
.scroller {
  width: 300px;
  height: 100px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple rgb(49, 198, 235);
  scrollbar-width: thin;
}
tr:nth-child(odd){ 
  background-color: #cdde4e; 
}